@model OdeToFood.ViewModels.HomeIndexViewModel

<h1>@Model.CurrentMessage</h1>

@{
    ViewBag.Title = "Home Page";
}

<h1>
    All restaurants
</h1>
<hr/>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}

<a asp-action="Create">Add new restaurant</a>
@*<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Details</th>
    </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @restaurant.Id
            </td>
            <td>
                @restaurant.Name
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }
</table>*@

@section footer{ 
    @Model.CurrentMessage
}

